*{
	margin: 0;
	padding: 0;
}
body {
	background-color: #202124;
	font-family: 'Open Sans', sans-serif;
}
img {
	position: absolute;
	width: 400px;
	top: 290px;
	left: 758px;
}
.button {
	margin-top: 25px;
}
nav {
    padding: 13px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav li {
    list-style: none;
    margin-right: 5px;
    padding: 8px 16px;
}
nav li:last-child {
    background-color: #1A73E8;
    border-radius: 5px;
}



nav li:last-child a{
    color: #fff;
}
.offered {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    color: #FFFFFF;

}

a {
	color: #7A9DD7;
	text-decoration: none;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 900px;
    text-align: center;
}
input[type="text"] {
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 24px;
    width: 500px;
    max-width: 100%;
    outline: none;
}
input[type="submit"] {
    background-color: #202124;
    border: 1px solid #F8F9FA;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}
.button input {
	color: #FFFFFF;
}
li > a {
	color: #FFFFFF;
}