@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
  height: 70rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  width: 300px;
}
figure {
  border-radius: 20px;
  padding: 20px;
  background-color: hsl(0, 0%, 100%);
}

figure img {
  width: 100%;
  border-radius: 20px;
}
figcaption{
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
}
p{
    text-align: center;
    font-size: 0.98rem;
    font-weight: 400;
    color: gray;
}
